@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family:'Ubuntu',sans-serif ;
}
/* Contact Me*/
.contactMe{
  font-family:'Ubuntu',sans-serif ;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(175deg, #EEE 50%, #D41032 50%, #FAEBD7);
}

.container{
  padding-top: 70px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.container h1{
  color: #111;
  font-size: 36px;
  font-weight: 1000;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}
.container p{
  font-size: 18px;
  margin-bottom: 32px;
}
.container textarea{
  resize: none;
  min-height: 100px;
}
.addy{
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 14px;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 14px;
  appearance: none;
  outline: none;
  border: none;

  display: block;
  width: 100%;
  padding: 12px 12px;
  border-radius: 8px;
  background-color: #f3f3f3;
  transition: 0.4s;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
#myName h1{
  font-size: 20px;
}
#myEmail h1{
  font-size: 20px;
}
#myLocation h1{
  font-size: 20px;
}
.btn button{
  padding: 9px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  border: none;
  outline: none;
  background: linear-gradient(#EEE, #D41032);
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
}
#copyText{
  margin-left: -300000px;
}
.btn .tooltip{
  margin-left: 10px;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 3px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s, margin-left 0.4s;
}
.btn .tooltip.show{
  opacity: 1;
  pointer-events: auto;
}
.tooltip{
  color: #D41032;
}
/*
form{
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 14px;
}
.formGroupFull{
  grid-column: 1 / -1;
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 14px;
  
}
.formGroupindv{
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 14px;
}
.formElement{
  appearance: none;
  outline: none;
  border: none;

  display: block;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #f3f3f3;
  transition: 0.4s;
}

.formElement:focus{
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.submit-group{
  grid-column: 1/-1;
  text-align: center;
  
}
.submit-group input{
  appearance: none;
  border: none;
  background: none;
  padding: 12px 16px;
  background-color:#B0C4DE;
  border-radius: 8px;
  cursor:pointer;
  transition: 0.5s;
  color: #fff;
}
.submit-group input:hover{
  background-color:#D41032;
}
*/
/* navibar */
.MW{
	max-width: 1300px;
	padding: 0 80px;
}
.navibar{
	background: #FAEBD7;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family:'Ubuntu',sans-serif ;
	z-index: 30;
}
.navibar .MW{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navibar .myLogo a{
	font-size: 35px;
	font-weight: 600;
	color: #B0C4DE;
}
.navibar .menu li{
	list-style: none;
	display: inline-block;
}
.navibar .menu li a{
	color: #B0C4DE;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.5s ease-in-out;
}
.navibar .menu li a:hover{
	color: #D2691E;
}
.menubtn{
	color: #B0C4DE;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
@media (max-width: 991px){
  .MW{
		padding: 0 50px;
  }
}
@media (max-width: 947px){
  .navibar .menu{
		position: fixed;
		background: #FAEBD7;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		transition: all 0.5s ease-in-out;
		text-align: center;
		padding-top: 80px;
		z-index: 20;
	}
	.navibar .menu li{
		display: block;
	}
	.navibar .menu li a{
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.menubtn{
		display: block;
		z-index: 100;
	}
  .navibar .menu.active{
		left: 0;
	}
}
@media (min-width: 768px) {
  .container{
    padding-left: 64px;
    padding-right: 64px;
  }
  form{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .container{
    padding-left: 128px;
    padding-right: 128px;
  }
}

@media (max-width: 400px){
  #myName h1{
    font-size: 15px;
  }
  #myEmail h1{
    font-size: 15px;
  }
  #myLocation h1{
    font-size: 15px;
  }
}

@media (max-width: 330px){
  #myName h1{
    font-size: 12px;
  }
  #myEmail h1{
    font-size: 12px;
  }
  #myLocation h1{
    font-size: 12px;
  }
  
}
@media (max-width: 290px){
  #myName h1{
    font-size: 12px;
  }
  #myEmail h1{
    font-size: 12px;
  }
  #myLocation h1{
    font-size: 12px;
  }
  .addy{
    padding-left: none;
  }
  .container h1{
    padding-left: 10px;
  }
  .btn button{
    font-size: 10px;
  }
  .btn .tooltip{
    font-size: 15px;
  }
}

@media(max-width: 250px){
  #myName h1{
    font-size: 10px;
  }
  #myEmail h1{
    font-size: 10px;
  }
  #myLocation h1{
    font-size: 10px;
  }
  .container h1{
    padding-left: 5px;
  }
  .btn button{
    font-size: 7px;
  }
}
@media(max-width: 200px){
  #myEmail h1{
    font-size: 7.5px;
  }
  .btn .tooltip{
    font-size: 10px;
  }
}