/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navi{
	font-size: 35px;
	position: fixed;
	width: 100%;
	height: 100px;
	line-height: 100px;
	display: inline-block;
	text-align: center;
	border-bottom: 2px solid #B0C4DE;
	border-top: 2px solid #B0C4DE;
	top: 2px;
	background-color: #FAEBD7;
	z-index: 20;
	overflow: hidden;
}
.navi a{
	text-decoration: none;
	color: #B0C4DE;
	z-index: 20;
}
header img{
	opacity: 80%;
	z-index: 0;
	position: relative;
	top: 100px;
}

.navi a:visited{
	color: #B0C4DE;
}

#projects{
	padding: 25px;
	margin: 25px;
}
#about{
	padding: 25px;
	margin: 25px;
}
#home{
	padding: 25px;
	margin: 25px;
	font-size: 45px;
}

.social{
	bottom: 2px;
	font-size: 20px;
	position: fixed;
	width: 100%;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
	border-bottom: 2px solid #B0C4DE;
	border-top: 2px solid #B0C4DE;
	background-color: #FAEBD7;
	z-index: 19;
}
#LinkI{
	margin: 50px;
}
#IG{
	margin: 50px;
}
#LC{
}

.social a{
	text-decoration: none;
	color: #D2691E;
	z-index: 20;
}

.social a:visited{
	color: #B0C4DE;
}

#myPhoto{
	width: 400px;
	height: 400px;
	position: relative;
	top: 120px;
	left: 20px;
	text-align: center;
	overflow: hidden;
	border-radius: 80%;
	display: inline-block;
}